*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: .2s linear;
}
.btn-form{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background: #ffee80;
    color:#130f40;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn-form:hover{
    background: #f9d806;
}

.login-form-container{
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(73, 69, 69, 0.386);
    z-index: 10000;
}
 
.login-form-container:target {
	visibility: visible;
	opacity: 1;
} 

.login-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: 0.1rem solid rgba(0,0,0,.1);
    background: #fff;
}



.login-form-container form .btn-form{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.7rem;
    color: #130f40;
    text-transform: none;
    border: 0.1rem solid rgba(0,0,0,.1);
    padding:1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p{
    padding:1rem 0;
    font-size: 2rem;
    color: #665;
}

.login-form-container form p a{
    color: #f9d806;
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom: 0;
    font-size: 2.5rem;
    color: #130f40;
    text-transform: uppercase;
}

.login-form-container #close-login-form{
    position: relative;
    font-size: 5rem;
    color: #130f40;
    cursor: pointer;
}
.login-form-container .close {
	position: relative;
	bottom: 60px;
	left: 180px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.login-form-container .close:hover {
	color: #ffee80;
}

@media screen and (max-width: 750px){
    .login-form-container .close{
        left: 130px;
    }
}

@media screen and (max-width: 480px){
    .login-form-container .close{
        left: 160px;
    }
}

@media screen and (max-width: 380px){
    .login-form-container .close{
        left: 140px;
    }
}

@media screen and (max-width: 280px){
    .login-form-container .close{
        left: 100px;
    }
}

.login-form-container .form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width: 95%;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: 0.1rem solid rgba(0,0,0,.1);
    background: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 75%;

}

.login-form-container .form h3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color: #130f40;
    text-transform: uppercase;
}

.login-form-container .form .close {
	position: relative;
	bottom: 50px;
	left: 48%;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.prod{
    top: 20%;
    margin: 20px 15px;
    width: 92%;
    position: fixed;
}

.pro-small-pic img{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .5;
}

.pro-small-pic img:hover{
    opacity: 1;
}

.pro-small-pic{
    float: left;
    width: 25%;
}

.pro-big-pic img{
    height: 300px;
}
.pro-big-pic{
    float: middle;
    width: 75%;
} 

.pro-info{
    float: right;
    padding: 10px;
    width: 25%;
}

.pro-info h2{
    font-size: 1.5rem;
    color: #130f40;
    text-transform: uppercase;
} 

@media screen and (max-width: 750px){


    .pro-small-pic {
        display: flex;
        flex-wrap: nowrap;
      }
      
      .pro-small-pic img {
        height: 55px;
        margin-right: 5px;
      }

    .pro-big-pic{
        width: 100%;
        height: 33%;
    }
    .pro-big-pic img{
        height: 100%;
        width: 93%;
    }
    .pro-info{
        width: 100%;
        height: 33%;
    }

    .login-form-container .form h3{
        font-size: 1.5rem;
        margin-top: 15px;
    }

}
